<doctype html>
<title>Menu Principal - IVM</title>
<body style="padding:20px">
    <style>
        
        #menu {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        background-color: whitesmoke;
        }
        h1{
            font-family: Arial, Helvetica, sans-serif;
            color: black;
        }

        #menu td, #menu th {
        border: 1px solid #ddd;
        padding: 10px;
        }
        a:link, a:visited ,a:hover, a:active{
        text-decoration: none;
        color: black;
        }
        #menu tr:nth-child(even){background-color: #f2f2f2;}

        #menu tr:hover {background-color: #ddd;}

        #menu th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: middle;
        background-color: rgb(4, 142, 184);
        color: white;
        }


    </style>
    <h1>IVM - Base de Dados</h1>
    <table id="menu">
        <thead>
        <tr>
            <th>Menu IVM</th>
        </tr>
        </thead>
        <tr><td ><a href="retalhista">Retalhista</a></td></tr>
        <tr><td><a href="categoria">Categoria</a></td></tr>
        <tr><td><a href="ivm">IVM</a></td></tr>

    </table>
</body>
</doctype>